INICIANDO O ASSUNTO SOBRE PANDAS

In [1]:
import pandas as pd

In [17]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)
print(vendas_df)
print("----------------------------------")
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70
----------------------------------

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [25]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

1 - lista 5 primeiras linhas
2 - quantidade de linhas e colunas
3 - analise dos dados

In [39]:
display(vendas_df.head(5))
print("-----------------------------------------------------")
display(vendas_df.shape)
print("------------------------------------------------------")
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

-----------------------------------

(93910, 7)

-----------------------------------

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

1 - pegar a primeira coluna

In [61]:
produto = vendas_df[['Valor Unitário','ID Loja','Valor Unitário']].head(5)
display(produto)

   Valor Unitário             ID Loja  Valor Unitário
0             358  Iguatemi Esplanada             358
1             180  Iguatemi Esplanada             180
2             368  Iguatemi Esplanada             368
3             200      Norte Shopping             200
4              71      Norte Shopping              71

In [69]:
display(vendas_df.loc[1:7])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596

In [75]:
vendas_Nort_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']
display(vendas_Nort_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [91]:
valores_menor_igual_50 = vendas_df.loc[vendas_df['Valor Unitário'] <= 50,['Valor Unitário','Produto','Quantidade']].head(5)
display(valores_menor_igual_50)

    Valor Unitário        Produto  Quantidade
27              30           Meia           1
43              41    Meia Xadrez           3
48              37  Meia Listrado           1
49              41    Meia Xadrez           3
73              38      Meia Liso           5

In [109]:
display(vendas_df.loc[5,'Produto'])

'Cinto Linho'

In [111]:
valores_menor_igual_50 = vendas_df.loc[vendas_df['Valor Unitário'] <= 50,['ID Loja','Produto','Quantidade','Valor Unitário']].head(5)
display(valores_menor_igual_50)

                       ID Loja        Produto  Quantidade  Valor Unitário
27   Parque Dom Pedro Shopping           Meia           1              30
43        Shopping Midway Mall    Meia Xadrez           3              41
48  Rio Mar Shopping Fortaleza  Meia Listrado           1              37
49         Shopping Vila Velha    Meia Xadrez           3              41
73    Shopping União de Osasco      Meia Liso           5              38

In [113]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [121]:
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,0.0,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,0.0,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,0.0,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,0.0,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,0.0,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,0.0,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,0.0,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,0.0,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,0.0,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,0.0,0

In [119]:
vendas_df.loc[:, "Imposto"] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

In [206]:
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
valor_maior_que_90 = vendas_df.loc[vendas_df['Valor Final'] <= 50]
valor_maior_que_90['Imposto'] = valor_maior_que_90['Valor Final'] * 0.3
display(valor_maior_que_90)

C:\Users\M-PYTHON\AppData\Local\Temp\ipykernel_12144\735706221.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valor_maior_que_90['Imposto'] = valor_maior_que_90['Valor Final'] * 0.3

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
27,22,2019-01-02,Parque Dom Pedro Shopping,Meia,1,30,30,1.50,9.0
48,36,2019-01-02,Rio Mar Shopping Fortaleza,Meia Listrado,1,37,37,1.85,11.1
90,69,2019-01-02,Shopping Ibirapuera,Meia Xadrez,1,41,41,2.05,12.3
107,82,2019-01-02,Shopping Vila Velha,Meia Listrado,1,37,37,1.85,11.1
122,96,2019-01-02,Shopping Recife,Meia Xadrez,1,41,41,2.05,12.3
...,...,...,...,...,...,...,...,...,...
93649,64840,2019-11-30,Iguatemi Esplanada,Meia Liso,1,38,38,1.90,11.4
93739,64903,2019-11-30,Shopping Eldorado,Meia Liso,1,38,38,1.90,11.4
93788,64936,2019-11-30,Center Shopping Uberlândia,Cueca,1,50,50,2.50,15.0
93804,64945,2019-11-30,Shopping Barra,Meia,1,30,30,1.50,9.0
93901,65009,2019-11-30,Shopping Barra,Meia Xadrez,1,41,41,2.05,12.3

In [216]:
valor_maior_50 = vendas_df[vendas_df['Valor Final'] > 50]
valor_maior_50['Imposto'] = valor_maior_50['Valor Final'] * 0.9
display(vendas_df)

C:\Users\M-PYTHON\AppData\Local\Temp\ipykernel_12144\3925601682.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valor_maior_50['Imposto'] = valor_maior_50['Valor Final'] * 0.9

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,322.2
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,324.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,331.2
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,540.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,63.9
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,509.4
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,142.2
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,180.9
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,513.0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,932.4