In [3]:
import pandas as pd
print(pd.__version__)

2.2.2

In [5]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [11]:
display(vendas_df.head(3))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368

In [13]:
display(vendas_df.shape)

(93910, 7)

In [17]:
display(vendas_df.describe())

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

In [21]:
pegar_colunas = vendas_df[['Código Venda','Produto','Quantidade']]
display(pegar_colunas)

       Código Venda            Produto  Quantidade
0                 1     Sapato Estampa           1
1                 1           Camiseta           2
2                 1      Sapato Xadrez           1
3                 2            Relógio           3
4                 2       Chinelo Liso           1
...             ...                ...         ...
93905         65012     Mochila Xadrez           2
93906         65013  Pulseira Listrado           2
93907         65013     Cueca Listrado           3
93908         65014     Pulseira Linho           5
93909         65014      Casaco Xadrez           4

[93910 rows x 3 columns]

In [23]:
display(vendas_df.loc[1:2])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368

In [62]:
vendas_norte  = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']
display(vendas_norte)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,120.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,14.2
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116,5.80,23.2
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105,5.25,21.0
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300,15.00,60.0
...,...,...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142,7.10,28.4
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190,9.50,38.0
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512,25.60,102.4
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160,8.00,32.0
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195,9.75,39.0

In [66]:
vendas_norte = vendas_df.loc[vendas_df['Valor Final'] >= 130,['Código Venda','Produto','Quantidade','Valor Final']]
display(vendas_norte)

       Código Venda            Produto  Quantidade  Valor Final
0                 1     Sapato Estampa           1          358
1                 1           Camiseta           2          360
2                 1      Sapato Xadrez           1          368
3                 2            Relógio           3          600
5                 3        Cinto Linho           1          248
...             ...                ...         ...          ...
93905         65012     Mochila Xadrez           2          566
93906         65013  Pulseira Listrado           2          158
93907         65013     Cueca Listrado           3          201
93908         65014     Pulseira Linho           5          570
93909         65014      Casaco Xadrez           4         1036

[76094 rows x 4 columns]

In [72]:
display(vendas_df.loc[2,'Quantidade'])

1

In [25]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [29]:
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

In [31]:
vendas_df['Imposto'] = vendas_df['Valor Final'] * 0.2
display(vendas_df.head(3))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.9,71.6
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.0,72.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.4,73.6

In [74]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,71.6
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,72.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,73.6
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,120.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,14.2
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,113.2
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,31.6
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,40.2
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,114.0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,207.2

In [96]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
6,5,2019-01-02,Shopping Barra,Calça,1,170,170,8.50
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596,29.80
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

juntando dos arquivos

In [114]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")

vendas_df = pd.concat([vendas_dez_df,vendas_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,NaN
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,NaN
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,NaN
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,NaN
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,NaN
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

In [127]:
# vendas_lojas = vendas_df['Produto'].value_counts()
# display(vendas_lojas)
produto = vendas_df[['Produto','Valor Final']].groupby('Produto').sum()
display(produto)

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

In [135]:
gerente_df = pd.read_excel("Gerentes.xlsx")

vendas_df = vendas_df.merge(gerente_df)
display(vendas_df)

vendas_df['Comissãao'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,NaN,Gisele
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,NaN,Gisele
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,NaN,Luiza
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,NaN,Luiza
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,NaN,Fernanda
...,...,...,...,...,...,...,...,...,...
100991,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,Pablo
100992,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,Fábio
100993,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,Fábio
100994,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,Gisele
100995,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,Gisele

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente,Comissãao
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,NaN,Gisele,28.50
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,NaN,Gisele,13.45
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,NaN,Luiza,36.30
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,NaN,Luiza,12.50
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,NaN,Fernanda,13.80
...,...,...,...,...,...,...,...,...,...,...
100991,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,Pablo,28.30
100992,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,Fábio,7.90
100993,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,Fábio,10.05
100994,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,Gisele,28.50
100995,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,Gisele,51.80